@import url("https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap");

body {
  font-family: "Rubik Wet Paint", cursive;
  /* font-family: 'Rubik Wet Paint', cursive; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
